#feature_label {
	color: #666;
	font-family: sans-serif;
    font-size: small;
    font-weight: normal; 
} 

.tooltip {
  color:#666;
  width:190px; 
  z-index:1000001;
}

.tooltip2 {
  color:#666;
  width:100px; 
  z-index:1000001;
}

.claro .dijitTooltipContainer{
  border: 1px solid #F9B200;
}

