<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GeoMetaFacet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Time4Maps</display-name>
    <servlet-name>Time4Maps</servlet-name>
    <servlet-class>tud.time4maps.servlet.RequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Time4Maps</servlet-name>
    <url-pattern>/RequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeatureInfo</display-name>
    <servlet-name>FeatureInfo</servlet-name>
    <servlet-class>tud.time4maps.servlet.FeatureInfoRequester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeatureInfo</servlet-name>
    <url-pattern>/FeatureInfoRequester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MetaViz</display-name>
    <servlet-name>MetaViz</servlet-name>
    <servlet-class>tud.metaviz.servlet.MetavizController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetaViz</servlet-name>
    <url-pattern>/MetavizController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Heatmap</display-name>
    <servlet-name>Heatmap</servlet-name>
    <servlet-class>tud.heatmap.servlet.HeatmapController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Heatmap</servlet-name>
    <url-pattern>/HeatmapController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HSQL</display-name>
    <servlet-name>HSQL</servlet-name>
    <servlet-class>tud.geometafacet.hsql.servlet.HSQLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HSQL</servlet-name>
    <url-pattern>/HSQLController</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
       tud.geometafacet.start.StartController
    </listener-class>
</listener>
</web-app>